.button::after {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 50%;
  content: "";
  background-color: #6b7280;
  width: 120%;
  height: 120%;
}

.button:hover::after {
  animation: fill 0.5s ease-in-out forwards;
}

@keyframes fill {
  0% {
    transform: translateY(0%) translateX(-50%);
    border-radius: 100%;
  }

  100% {
    transform: translateY(-100%) translateX(-50%);
    border-radius: 15%;
  }
}

.bigPill {
  height: 60px;
}

.bigRound {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
