.hamburger {
  width: 100%;
  height: 100%;
  position: relative;
}

.hamburger::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: antiquewhite;
  top: 45%;
  left: 30%;
  transition: transform 0.3s ease-out;
}

.hamburger::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: antiquewhite;
  bottom: 45%;
  left: 30%;
  transition: transform 0.3s ease-out;
}

.hamburger.cross::after {
  transform: translateY(400%) rotate(45deg);
}

.hamburger.cross::before {
  transform: translateY(-400%) rotate(-45deg);
}
