.trackball::after {
  position: absolute;
  z-index: -1;
  top: 110%;
  left: 50%;
  content: "";
  background-color: #6b7280;
  width: 120%;
  height: 120%;
}

.trackball:hover::after {
  animation: fill 0.5s ease-in-out forwards;
}

.trackball:not(:hover)::after {
  animation: unfill 0.3s ease-in-out forwards;
}

@keyframes fill {
  0% {
    transform: translateY(0%) translateX(-50%);
    border-radius: 100%;
  }

  100% {
    transform: translateY(-100%) translateX(-50%);
    border-radius: 15%;
  }
}

@keyframes unfill {
  0% {
    transform: translateY(-100%) translateX(-50%);
    border-radius: 15%;
  }

  100% {
    transform: translateY(0%) translateX(-50%);
    border-radius: 100%;
  }
}

.trackball {
  background-color: #1f2937;
}

.transparent {
  background-color: transparent;
  border: 2px solid rgb(133, 144, 150);
}
